@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(45deg, #F3E524,#F2CB04,#F3B806,#ff9d2e);
    background-size: 250% 250%;
    animation: fundogradiente 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fundogradiente  {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}


/* Tela Sistema  */

main { 
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    width: 90%;   
    height: 80vh;
    background-color: #ffffff;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 160px;
}

.telaesquerda-sistema{
    display: flex;
    padding: 30px;
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #232323;
    height: 100%;
    align-items: center;
}

.vertical-menu {
    padding: 0;
    height: 70%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  .vertical-menu li {
    color: white;
    text-align: center;
  }
  
  .vertical-menu li:hover {
    color: yellow;
  }
  
  .vertical-menu li a {
    display: flex;
    align-items: center;
    justify-content: baseline;
    align-content: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;

  }


  .vertical-menu i {
    margin-right: 9px;
    font-size: 24px;
    animation: pulse 1s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
 

.teladireita-sistema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;

}
.container-sobre {
    padding: 20px 0;
    text-align: center;
    color:#232323;
  }
  
  .container-sobre h3 {
    font-size: 35px;
    font-weight: 600;
  }
  
  .container-sobre h4 {
    font-size:18px;
    font-weight: 500;
    font-style: italic;

  }
  
  .container-especialidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap:25px;
  }
  
  .item-especialidade {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px 0;
  }
  
  .item-especialidade i {
    font-size: 48px;
    color: #ffc107;    
  }
  
  .item-especialidade h5 {
    font-size: 18px;
  }
  